.CommentForm {
  background-color: lightgray;
  padding: 20px;
  border-radius: 4px;
}

/* .form-group {
  padding: 20px;
} */

.CommentForm .comment {
  display: block;
  font-weight: 450;
  line-height: 150%;
}

.CommentForm #comment {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px;
  height: 20vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 4px;
  resize: vertical;
}

.CommentForm .comment-btn {
  margin: 10px 0;
}
.CommentForm .comment-btn button {
  padding: 8px 14px;
  background-color: rgb(41, 41, 41);
  outline: 1px solid rgb(41, 41, 41);
  border: 1px solid white;
  color: white;
  border-radius: 4px;
}
