.Detail {
  margin: 20px;
}

.Detail .title {
  color: black;
  font-size: 1.3rem;
  font-weight: 450;
  font-style: italic;
  font-family: cursive;
  text-decoration: underline;
}

.blog {
  box-shadow: 1px 1px 5px lightgray, -1px -1px 5px lightgray,
    1px 1px 5px lightgray, -1px -1px 5px lightgray;

  border-radius: 4px;
  padding: 20px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;

  margin-bottom: 30px;
}

.Detail .content {
  text-indent: 30px;
  margin: 10px 20px;
  text-align: justify;
  color: rgb(48, 48, 48);
}

.Detail .update-btn,
.Detail .delete-btn {
  display: inline-block;
}
.Detail .update-btn button,
.Detail .delete-btn button {
  margin: 20px;
  font-size: 1rem;
  padding: 8px 14px;
  font-weight: 540;
  color: white;
  background-color: blue;
  border: 1px solid white;
  outline: 1px solid blue;
  border-radius: 3px;
}

.Detail .delete-btn button {
  background-color: red;
  outline: 1px solid red;
}

.Detail .comments {
  margin: 5px;
}

.Detail .comments-container {
  background-color: rgb(112, 112, 112);
  /* border: 1px solid; */
  padding: 10px;
  margin-top: 20px;
  border-radius: 4px;
}
