.login-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
  /* margin-top: 10%; */
}

.login-container .Login {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  /* border: 1px solid; */
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px lightgray;
  flex-basis: 70%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.login-container #username,
.login-container #password {
  font-size: 1.1rem;
  width: 100%;
  padding: 10px;
}

.login-container .form-group label {
  font-size: 1.1rem;
  font-weight: 450;
}

.login-container .login-btn {
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.1rem;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 10px;
}

.login-container .form-group {
  margin-bottom: 10px;
}

.login-container .signup-btn {
  background-color: green;
  border: none;
  font-size: 1.1rem;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 10px;
}

.login-container .signup-btn a {
  text-decoration: none;
  color: white;
}

@media screen and (max-device-width: 1000px) {
  .login-container .Login {
    flex-basis: 100%;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .login-container {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    /* border: 1px solid red; */
    min-height: 93vh;
  }
}

@media screen and (max-width: 700px) {
  .login-container .Login {
    flex-basis: 100%;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .login-container {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    /* border: 1px solid red; */
    min-height: 93vh;
  }
}
